NEXT_PUBLIC_API_URL=https://cambocine.online/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=900896751182-351tedmbt8jq69acpbip5fmvir10092h.apps.googleusercontent.com

# Optional payment sandbox variables
ABA_MERCHANT_ID=demo_merchant
ABA_MERCHANT_KEY=demo_key
BAKONG_TOKEN=
